@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Monda:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=SUSE+Mono:ital,wght@0,100..800;1,100..800&family=Special+Gothic:wght@400..700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
body {
    background-color: rgb(29, 29, 29)
}
.container {
    max-width: 1100px;
    margin: 0 auto;
}
header {
    border-bottom: 1px solid #fff;
    margin-bottom: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
    position: relative;
}
.i i {
    color: rgb(29, 29, 29);
}
ul {
    display: flex;
    gap: 20px;
    color: #fff;
    font-size: 13px;
    font-weight: 300;
    position: absolute;
    left: 430px;
    cursor: pointer;
}
ul a {
    text-decoration: none;
    color: #fff;
}
ul li {
    transition: all 0.5s ease;
}
ul li:hover {
    color: rgb(253, 111, 0) ;
}
li {
    list-style: none;
}
.logo img {
    width: 140px;
    height: 70px;
    border-radius: 20px;
}
.btns button {
    padding: 10px 15px;
    background-color: var(--color);
    color: #fff;
    border: none;
    border-radius: 5px;
}
.project-text {
    text-align: center;
}
.project-text h1 {
    color: #fff;
    font-size: 40px;
}
.project-text p {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    padding-top: 20px;
}
.project-one img {
    width: 340px;
    height: 180px;
}
.project-one h3 {
    color: #fff;
    padding-top: 20px;  
    font-size: 25px;
}
.project-one p {
    color: #fff;
    font-weight: 600;
    font-size: 15px;
    padding-top: 20px;
}
.project-img {
    margin-bottom: 60px;
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
}